.templates-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-grid {
  width: 100%;
}

.templates-container > app-button-component {
  align-self: flex-end;
  margin-top: 8px;
}