
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  background-color: white;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
html, body, app-root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://cdn.boxicons.com/fonts/basic/boxicons.min.css');
@import url('https://cdn.boxicons.com/fonts/brands/boxicons-brands.min.css');

body {
  font-family: 'Roboto', sans-serif;
}

.swal2-confirm {
  background-color: #3a5891 !important;
  border-color: #3a5891 !important;
}

.swal2-confirm:hover {
  background-color: #2a4471 !important;
  border-color: #2a4471 !important;
}

.swal2-deny {
  background-color: #d33 !important;
}

.swal2-cancel {
  background-color: #6c757d !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


