table {
  width: 100%;
  background-color: inherit !important;
}
mat-paginator{
  background-color: inherit !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-element-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.example-element-detail {
  display: flex;
  min-height: 0;
}

.example-toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}


.example-container {
  position: relative;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // background: rgba(255, 255, 255, 0.7);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Aktywny wiersz */
.active-row {
  background-color: rgb(229, 238, 255); /* Twój kolor tła */
}

.active-row td:first-child {
  position: relative;
}

.active-row td:first-child::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;           /* szerokość linii */
  background-color: #3a5891; /* kolor linii */
}

/* Domyślnie kolumny mają auto szerokość */
.mat-column-remove {
  width: 1%;                  /* minimalna szerokość */
  white-space: nowrap;         /* nie łamie przycisku */
  text-align: center;          /* wyśrodkuj ikonę */
  padding: 0 10px;              /* zmniejsz padding */
}

.mat-column-remove i {
  font-size: 20px;
  font-weight: lighter;
}

.mat-column-remove button {
  margin: 0 auto;
  display: block;
  color: rgb(224, 52, 52);
  border: 2px solid rgb(224, 52, 52);
  background-color: inherit;
  border-radius: 4px;
  padding: 5px; 
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

tr.mat-mdc-row:hover:not(.active-row) {
  background-color: whitesmoke !important;
}


.mat-column-remove button:hover{
  background-color: rgb(224, 52, 52);
  color: white;  
  border-color: rgb(224, 52, 52);
}

.mat-column-remove button:hover i{  
  animation: shakeRotate 0.5s ease forwards;
}

@keyframes shakeRotate {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(-7deg); }
  50%  { transform: rotate(7deg); }
  75%  { transform: rotate(-7deg); }
  100% { transform: rotate(0deg); }
}

.example-table-container {
  width: 100%;
  overflow-x: auto;
}


