<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field
    appearance="outline"
    style="width: 100%; margin-bottom: 16px"
    *ngIf="filterable"
  >
    <mat-label>Filtr</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Szukaj..."
      #input
    />
  </mat-form-field>

  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="apiUrl ? dataSource : tableDataSource"
      matSort
      class="mat-elevation-z8"
    >
      <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element[column.field] }}
        </td>
      </ng-container>

      <ng-container *ngIf="actionTemplate" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngTemplateOutlet="actionTemplate; context: { $implicit: element }"></ng-container>
        </td>
      </ng-container>

      <ng-container *ngIf="isRemovable" matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="onRemoveClick(element, $event)">
            <i class="bx bx-trash"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="finalDisplayedColumns"></tr>

      <tr mat-row *matRowDef="let element; columns: finalDisplayedColumns"
          (click)="onRowClick(element, $event)"
          (dblclick)="onRowDoubleClick(element, $event)"
          [class.active-row]="selectedGridElement === element">
      </tr>



      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columnsToDisplay.length">
          Brak danych
        </td>
      </tr>
    </table>
  </div>

  <mat-paginator
    [length]="resultsLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
  ></mat-paginator>
</div>
