<div class="landing-pages-container">
  <header>
    <div class="row">
      <h2>Strony docelowe</h2>

      <app-button-component
        *ngIf="!isSelectMode"
        [label]="'Stwórz nowy'"
        [variant]="'blue-theme'"
        [action]="createLandingPage.bind(this)">
      </app-button-component>      
    </div>
  </header>

  <section>
    <app-grid 
        apiUrl="/api/landingPages/grid"
        [columnsToDisplay]="columns"
        [isRemovable]="!isSelectMode"
        (rowClicked)="handleRowClick($event)"
        (rowDoubleClicked)="handleRowDoubleClick($event)"
        (rowRemoved)="handleRowDeleted($event)">
    </app-grid>

    <div class="row" *ngIf="isSelectMode">
      <app-button-component
        class="select-button"
        [label]="'Anuluj'"
        [variant]="'white-outline-theme'"
        [action]="cancelLandingPageSelection.bind(this)">
      </app-button-component>

      <app-button-component
        [label]="'Wybierz stronę'"
        [variant]="'blue-theme'"
        [disabled]="selectedLandingPageId === null"
        [action]="selectLandingPage.bind(this)">
      </app-button-component>
    </div>
  </section>  
</div>
