.landing-pages-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


app-grid {
  width: 100%;
}

.landing-pages-container > app-button-component {
  align-self: flex-end;
  margin-top: 8px;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}