:host {
  // Colors
  --sidebar-color: #f1f1f1;
  --primary-color: #3a5891;
  --text-color: #707070;
  --logout-background-color: #e0e0e0;
  --logout-background-color-hover: #c52727;

  // Transitions
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
}

.home-container {
  display: flex;
  height: 100vh; 
  width: 100%;
}

.content {
  flex: 1 1 auto; 
  overflow-y: auto; 
}

.padding-expanded{
    padding-right: 20px;
    padding-left: 20px;
}
.padding-hidden{
    padding-right: 10px;
    padding-left: 10px;
}

.link-button-padding-expanded{
    padding-right: 15px;
    padding-left: 15px;
}

//Sidebar
.sidebar{
    flex: 0 0 auto;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    background: var(--sidebar-color);
    border-right: 1px solid #979797;
    display: flex;
    flex-direction: column;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image{
    width: 50px;
    display: flex;
    align-items: center;
}

.sidebar .image-text img{
    width: 50px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}

header{
    flex: 0 0 auto;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.header-text .proffesion{
    margin-top: -2px;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.menu-bar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto; 
}

.menu {
  flex: 1 1 auto; 
}

ul{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;  
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 50px;
    border-radius: 6px;
    transition: var(--tran-03);
    cursor: pointer;
}

.item-link div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.item-link i,
.item-link .text{
    font-size: 20px;
    color: var(--text-color);
}

.item-link i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
}


.sidebar li div:hover {
  background: var(--primary-color);
  color: white;
}

.sidebar li.logout div:hover {
  background: var(--logout-background-color-hover);
  color: white;
}

.sidebar li.logout {
  background: var(--logout-background-color);
}

.sidebar .item-link div{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

.item-link div span{
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: start;
}

.item-link:hover div,
.item-link:hover div i,
.item-link:hover div span {
  color: white;
  transition: var(--tran-04);
}



.item-link:hover div i{
  animation: shake 0.5s ease-in-out;
}

.bar-bottom {
  flex: 0 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


@keyframes shake {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-2px); }
  50%  { transform: translateY(2px); }
  75%  { transform: translateY(-2px); }
  100% { transform: translateY(0); }
}